.env
mysql_data/
.vscode/sftp.json

.cache
.cache/**
.copilot
.copilot/**
.vscode-server
.vscode-server/**
.dotnet
.dotnet/**
.bash_logout
.bashrc
.profile
.bash_profile
.bash_history

!flask
!flask/**
flask/instances/config.cfg
